{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser']) }) -%}

<div {%- include('atoms-attributes') -%}>

  {%- with title|default({}) only -%}
    {%- block title -%}

      {% if text is defined %}

        {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser__title']) }) -%}

        <h{{ level|default(4) }} {%- include('atoms-attributes') -%}>

          {%- with title only -%}
            {%- block title -%}

              {%- if attributes.href is defined -%}
                {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser__title_link']) }) -%}
              {%- endif -%}

              {%- include 'atoms-link' -%}

            {%- endblock content -%}
          {%- endwith -%}

        </h{{ level|default(4) }}>

      {% endif %}

    {%- endblock title -%}
  {%- endwith -%}

</div>
