{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser']) }) -%}

<div {%- include('atoms-attributes') -%}>

  {%- with {attributes: {class: []}} -%}
    {%- block header -%}

      {%- set attributes = attributes|merge({class: attributes.class|merge(['teaser__header']) }) -%}
      <header {%- include('atoms-attributes') -%}>

        {%- with title only -%}
          {%- block title -%}

            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser__title']) }) -%}

            <h{{ level|default(4) }} {%- include('atoms-attributes') -%}>

              {%- with content only -%}
                {%- block content -%}

                  {%- if attributes.href is defined -%}
                    {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teaser__title_link']) }) -%}
                  {%- endif -%}
                  9
                  {%- include 'atoms-link' -%}

                {%- endblock content -%}
              {%- endwith -%}

            </h{{ level|default(4) }}>

          {%- endblock title -%}
        {%- endwith -%}

      </header>

    {%- endblock header -%}
  {%- endwith -%}

</div>
