<ul class="sg-colors">

    {% for color in colors %}

        <li>
            <span class="sg-swatch" style="background: {{ color.value }}"></span>
            <span class="sg-label">{{ color.name }}<br /><code>{{ color.value }}</code></span>
        </li>

    {% endfor %}

</ul>
