{%- import 'atoms-html' as html -%}

{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header']) }) -%}

<header {{- html.attributes(attributes) }}>

  {%- block body -%}

    {%- if logo|default(false) -%}
      {%- with logo|merge({html: html}) only -%}
        {%- block logo -%}

          {%- if attributes|default({}).href is defined -%}
            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header__logo_link']) }) -%}
            <a {{- html.attributes(attributes) }}>
              {%- include 'atoms-image' with {attributes: {}} -%}
            </a>
          {%- else -%}
            {%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['site-header__logo']) }) -%}
            {%- include 'atoms-image' -%}
          {%- endif -%}

        {%- endblock logo -%}
      {%- endwith -%}
    {%- endif -%}

  {%- endblock -%}

</header>
