{%- set attributes = attributes|default({})|merge({class: attributes.class|default([])|merge(['teasers']) }) -%}

<div {%- include('atoms-attributes') -%}>

  {%- block body -%}

    {%- for teaser in teasers -%}

      {%- with teaser only -%}
        {%- block teaser -%}

          {%- include('molecules-teaser') -%}

        {%- endblock teaser -%}
      {%- endwith -%}

    {%- endfor -%}

  {%- endblock body -%}

</div>
