@import "../../variables/baselinegrid";
@import "../../variables/color";
@import "../../variables/content_header";
@import "../../functions/types";
@import "../../mixins/media-query";
@import "../../mixins/spacing";
@import "../../mixins/typography";

.content-header {
  color: $color-text-normal;
  text-align: center;
  @include blg-spacing("block-start", "medium");
  @include blg-spacing("block-end", "small");

  &:after {
    border-bottom: 1px solid $color-text-dividers;
    border-block-end: 1px solid $color-text-dividers;
    content: "";
    display: block;
    @include padding($baselinegrid-space-small - 1, "block-start");
    width: 100%;
  }
}

.content-header__title {
  @include margin(0, "block-start");
  @include blg-spacing("block-end", "small", "margin");
}

.content-header__title--xx-short {
  @include rem(font-size, $content_header-title-size-xx_large);

  @include mq($from: small) {
    @include rem(font-size, $content_header-title-size-xxx_large);
  }
}

.content-header__title--x-short {
  @include rem(font-size, $content_header-title-size-x_large);

  @include mq($from: medium) {
    @include rem(font-size, $content_header-title-size-xx_large);
  }

  @include mq($from: wide) {
    @include rem(font-size, $content_header-title-size-xxx_large);
  }
}

.content-header__title--short {
  @include rem(font-size, $content_header-title-size-medium);

  @include mq($from: small) {
    @include rem(font-size, $content_header-title-size-large);
  }

  @include mq($from: medium) {
    @include rem(font-size, $content_header-title-size-x_large);
  }

  @include mq($from: wide) {
    @include rem(font-size, $content_header-title-size-xx_large);
  }

  @include mq($from: x-wide) {
    @include rem(font-size, $content_header-title-size-xxx_large);
  }
}

.content-header__title--medium {
  @include rem(font-size, $content_header-title-size-small);

  @include mq($from: small) {
    @include rem(font-size, $content_header-title-size-medium);
  }

  @include mq($from: medium) {
    @include rem(font-size, $content_header-title-size-large);
  }

  @include mq($from: wide) {
    @include rem(font-size, $content_header-title-size-x_large);
  }

  @include mq($from: x-wide) {
    @include rem(font-size, $content_header-title-size-xxx_large);
  }
}

.content-header__title--long {
  @include rem(font-size, $content_header-title-size-x_small);

  @include mq($from: small) {
    @include rem(font-size, $content_header-title-size-small);
  }

  @include mq($from: medium) {
    @include rem(font-size, $content_header-title-size-large);
  }

  @include mq($from: x-wide) {
    @include rem(font-size, $content_header-title-size-x_large);
  }

}

.content-header__title--x-long {
  @include rem(font-size, $content_header-title-size-x_small);

  @include mq($from: medium) {
    @include rem(font-size, $content_header-title-size-small);
  }

  @include mq($from: wide) {
    @include rem(font-size, $content_header-title-size-small);
  }

  @include mq($from: x-wide) {
    @include rem(font-size, $content_header-title-size-medium);
  }
}

.content-header__title--xx-long {
  @include rem(font-size, $content_header-title-size-xx_small);

  @include mq($from: small) {
    @include rem(font-size, $content_header-title-size-x_small);
  }

  @include mq($from: wide) {
    @include rem(font-size, $content_header-title-size-small);
  }
}

.content-header__category_list {
  @include label-category-typeg();
  margin: 0;
  @include padding(0, "inline-start");
  text-align: center;
  @include padding(36, "inline-start");
  @include padding(36, "inline-end");
  @include blg-spacing("block-start", "small");
  position: absolute;
  width: calc(100% - 2 * 7%);

  @include mq($from: medium) {
    @include padding(72, "inline-start");
    @include padding(72, "inline-end");
    width: calc(100% - 2 * 14%);
  }

  @include mq($from: x-wide) {
    width: calc(100% - 2 * 3%);
  }

  //@include truncate-with-ellipsis();

  &:before {
    color: $color-text-secondary;
  }
}

.content-header__category_list_item {
  @include label-category-typeg();
  display: inline;
  @include set-font-size-and-vertical-height(11);
  list-style-type: none;
  padding: 0;

  & .content-header__category:after {
    content: ", ";
  }
}

.content-header__category_list_item:last-child {

  & .content-header__category:after {
    content: "";
  }

}

.content-header__category_link {
  @include label-category-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}
